<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
</head>
<body>
    <header>
    <div class="container">
            <a href="/homepage"><img src="logo.png" alt="logo" class="logo"></a>
            <nav>
                <ul>
                    <li><a href="/homepage">Home</a></li>
                    <li><a href="/homepage/signup">Register</a></li>
                    <li><a href="/sanpham">Product</a></li>
                    <li><a href="/nhanvien">Employee</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>